@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: hsl(148, 38%, 91%);
}

form {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  margin: 0px 10px 10px 10px;
}

h1 {
  color: hsl(187, 24%, 22%);
  padding-bottom: 20px;
}

label {
  color: hsl(187, 24%, 22%);
  font-weight: 400;
  font-size: 16px;
}

.required {
  color: hsl(169, 82%, 27%);
}

input {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid hsl(186, 15%, 59%);
  outline: none;
}

input:hover {
  border: 1px solid hsl(169, 82%, 27%);
}

.input-error {
  border: 1px solid hsl(0, 66%, 54%);
}

input:focus {
  border: 2px solid hsl(169, 82%, 27%);
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 20px;
}

.margin-btm {
  margin-bottom: 10px;
}

.select {
  display: flex;
  flex-direction: column;
}

#option-request,
#option-enquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px 0 0;
}

.options {
  border: 1px solid hsl(186, 15%, 59%);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
}

.options:hover {
  border: 1px solid hsl(169, 82%, 27%);
}

#message {
  height: 200px;
  border-radius: 7px;
  outline: none;
}

#message:hover {
  border: 1px solid hsl(169, 82%, 27%);
}

#message:focus {
  border: 2px solid hsl(169, 82%, 27%);
}

input[type="checkbox"] {
  transform: scale(1.3);
  border: 1px solid hsl(187, 24%, 22%);
  border-radius: 0;
  accent-color: hsl(169, 82%, 27%);
}

input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
  width: 20px;
}

.options:has(input:checked) {
  background-color: hsl(148, 38%, 91%);
  border: 1px solid hsl(169, 82%, 27%);
}

.div-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#consent-checkbox {
  margin: 0 10px 0 5px;
}

.btn {
  background-color: hsl(169, 82%, 27%);
  border: 1px solid hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 7px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.btn:hover {
  background-color: #074A3E;
}

textarea {
  padding: 10px;
}

.div-flex-column {
  display: flex;
  flex-direction: column;
}

.div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-check {
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: 700;
}

.padding-right {
  padding-right: 10px;
}

.thanks-message {
  padding: 0 20px 20px 20px;
  font-weight: 300;
}

.sucess-div {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 7px;
}

.check-icon {
  margin-right: 10px;
}

.menssageError {
  color: hsl(0, 66%, 54%);
  margin-top: 10px;
  font-size: 14px;
}

.margin-t {
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  form {
    width: 550px;
  }

  .div-flex {
    display: flex;
  }

  #message {
    height: 50px;
  }

  .div-flex-column {
    width: 50%;
  }

  .margin-right {
    margin-right: 15px;
  }

  .options {
    width: 50%;
  }

  .margin-btm {
    margin-bottom: 0;
  }

  .margin-t {
    margin-top: 0;
  }
}