@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(148, 38%, 91%);
}

form {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin: 40px 15px;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    color: hsl(187, 24%, 22%);
    padding-bottom: 20px;
}

label {
    color: hsl(187, 24%, 22%);
    margin-bottom: 10px;
    font-weight: 400;
}

.required {
    color: hsl(169, 82%, 27%);
}

input {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid hsl(186, 15%, 59%);
    cursor: pointer;
}

.select {
    display: flex;
    flex-direction: column;
}

#option-request,
#option-enquiry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

.options {
    border: 1px solid hsl(186, 15%, 59%);
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

.options:has(input[type="radio"]:checked) {
    background-color: hsl(148, 38%, 91%);
    border: 1px solid hsl(169, 82%, 27%);
    ;
}

#message {
    height: 200px;
    border-radius: 7px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    transform: scale(1.2);
    border: 1px solid hsl(187, 24%, 22%);
}

input[type="checkbox"]:checked {
    accent-color: hsl(169, 82%, 27%);
}

input[type="radio"] {
    accent-color: hsl(169, 82%, 27%);
    transform: scale(1.2);
}

.div-select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#consent-checkbox {
    margin: 0 10px 0 5px;
}

.checkbox {
    cursor: pointer;
}

.btn {
    background-color: hsl(169, 82%, 27%);
    border: 1px solid hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 7px;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
}

textarea {
    padding: 15px;
}

.div-flex-column {
    display: flex;
    flex-direction: column;
}

.options:hover {
    border: 1px solid hsl(169, 82%, 27%);
}

input:hover {
    border: 1px solid hsl(169, 82%, 27%);
}

input:focus {
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}

#message:hover {
    border: 1px solid hsl(169, 82%, 27%);
}

#message:focus {
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}

.btn:hover {
    background-color: hsl(187, 24%, 22%);
    border: 1px solid hsl(187, 24%, 22%);
    ;
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    form {
        width: 550px;
    }

    .div-flex {
        display: flex;
    }

    #message {
        height: 50px;
    }

    .div-flex-column {
        width: 50%;
    }

    .margin-right {
        margin-right: 15px;
    }

    .options {
        width: 50%;
    }
}
