@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: "Red Hat Text", sans-serif;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  color: hsl(14, 86%, 42%);
  font-weight: 800;
}

body {
  background-color: hsl(13, 31%, 94%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.desserts {
  width: 800px;
  margin-top: 30px;
}

.cart {
  padding: 20px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  height: 400px;
  width: 300px;
  margin-top: 30px;
}

.div-items-cart {
  height: 80%;
  overflow-y: auto;
}

.conteudo>img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.conteudo {
  padding-right: 15px;
  position: relative;
  margin-bottom: 20px;
}

.containers {
  display: flex;
}

.icon-cart {
  width: 20px;
  margin-right: 5px;
}

.btn-cart {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid hsl(14, 25%, 72%);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.div-btn {
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
}

.category-name {
  color: #807b73;
}

.title {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

#img-cart {
  text-align: center;
  width: 150px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  height: 250px;
}

.text {
  text-align: center;
  color: hsl(7, 20%, 60%);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.icon-add {
  width: 12px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.icon-desc {
  width: 12px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.btn-cart-items {
  width: 150px;
  height: 40px;
  display: flex;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid hsl(14, 25%, 72%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(14, 86%, 42%);
  color: white;
}

.p-title {
  font-weight: 600;
  padding-top: 10px;
  font-size: 14px;
}

.p-quantity {
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

.p-price {
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  color: #373636;
}

.p-total {
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  color: #2b2929;
  font-weight: 500;
}

.hr {
  margin: 10px 0;
  border-color: white;
  margin-right: 10px;
}

.infos-cart {
  display: flex;
  flex-direction: row;
}

.order-total {
  display: flex;
  justify-content: space-between;
}

#order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

#total {
  font-size: 24px;
  font-weight: 700;
}